*{margin: 0px;padding: 0px}
h1{font-size: 100%}
#recetas, #menus, #comprar{
    display: block;
    width: 80%;
    margin: 5% auto;
    padding: 2%;
    text-align: center;
    border: 1px solid #999999;
    background: #DDDDDD;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px 10px;
    
        
}